body {
    background-color: black;
    color: #f76c6c;
}

h1 {
    background-color: #20345e;
    font-size: 100px;
    outline: Black solid 4px;
    text-align: center;
    border: 5px palevioletred;
    border-style: groove;
    padding: 30px purple;
    margin: 50px;
    box-shadow: 20px 15px 15px rgb(212, 57, 57);
    
}

h2 {
    text-align: center;
    
}

#start-button {
    background-color: #f76c6c;
    color: aliceblue;
    text-align: center;
    display: block;
    font-size: 50px;
    border: 15px white;
    border-style: groove;
    padding: 30px 15px;
    text-decoration: double;


}

footer {

    background-color: #20345e;
    font-size: 20px;
    display: inline-flex;
    text-align: center;
    justify-content: space-around;
    border: 5px palevioletred;
    border-style: groove;
    padding: 30px purple;
    margin: 50px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 93%;
    /*changed width to 93% from 100%*/

}