body {
    background-color: black;
    color: #f76c6c;
    font-size: 30px;
    text-align: center;
    border: 20px palevioletred;
    border-style: groove;
    padding: 20px purple;
    margin: 20px;
}

