body {
  background-color: black;
  color: #f76c6c;
}

h1 {
  background-color: #20345e;
  font-size: 100px;
  outline: Black solid 4px;
  text-align: center;
  border: 5px palevioletred;
  border-style: groove;
  padding: 30px purple;
  margin: 50px;  
  box-shadow: 20px 15px 15px rgb(212, 57, 57);
}

h2 {
  text-align: center;
}
/* card for # of correct answers */

/*<div>
<a id="startagain-button" href="quiz.html">Start Again!</a>
</div>*/

footer {
  background-color: #20345e;
  font-size: 20px;
  outline: Black solid 4px;
  display: inline-flex;
  text-align: center;
  justify-content: space-around;
  border: 5px palevioletred;
  border-style: groove;
  padding: 30px purple;
  margin: 50px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 93%;
  /*changed width to 93% from 100%*/
  box-shadow: 20px 15px 15px rgb(212, 57, 57);
}